*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and nevigation Design */
.primary-text{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    height: 64px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 10px 35px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}